<tr>
  <td><%= image_tag post.image_url(:thumb) if post.image.present? %></td>
  <td><%= post.title %></td>
  <td><%= post.text %></td>
  <td><%= link_to 'Show', post_path(post) %></td>
  <td><%= link_to 'Edit', edit_post_path(post) %></td>
  <td><%= link_to 'Delete', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
