<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= link_to image_tag('logo.gif', width: 75), root_path %>
      <%= link_to 'Resistration', registration_path %>
      <%= link_to 'Log in', sessions_login_path %>
      <%= link_to 'Log out', sessions_logout_path %>

      <%= current_user.name if current_user %>

      <%= yield %>
    </div>
  </body>
</html>
